.cproject
.project
Debug/CS561_Assignment1
Debug/main.d
Debug/main.o
Debug/makefile
Debug/objects.mk
Debug/sources.mk
Debug/subdir.mk
solution1-BS-10.txt
solution1-BS-5.txt
solution1-BS-50.txt
solution1-astar-h1.txt
solution1-astar-h2.txt
solution1-astar.txt
solution1-beam-10.txt
solution1-beam-5.txt
solution1-beam-50.txt
solution1-beam.txt
solution1-bfs.txt
solution1-dfs.txt
solution2-bfs.txt
fuck.txt
search
solution2-astar-h1.txt
solution2-beam-h1.txt
solution3-astar-h1.txt
